.img-prop{
    height: 20vh;
    width: auto;
    object-fit: cover;
}

.card{
    background-color:transparent;
    backdrop-filter: blur(30px);
    border: rgba(255, 255, 255, 0.2) 2px solid;
}

.text-color{
    color: var(--white-theme-sub-text-color);
}