.img_prop{
    height: 20vh;
    width: 36vh;
    object-fit: cover;
    border-radius: 12px;
}

.card{
    border-radius: 12px;
    background-color:#cfcfcf6d;
    border: 1px solid #ffffff;
}

.text-color{
    color: var(--white-theme-sub-text-color);
}