.btn {
    background-color: transparent;
    border: 1px solid #83a79c;
    color: #83a79c;
}

.btn:hover {
    background-color: #83a79c;
    color: white;
}

.form-control {
    background-color: transparent;
    border: 1px solid #83a79c;
    color: #83a79c;
}

.form-control:focus {
    background-color: transparent;
    border: 1px solid #83a79c;
    color: #83a79c;
    box-shadow: none;
}

.form-control::placeholder {
    color: #83a79c;  /* Change this color to your desired placeholder color */
}

textarea {
    resize: none;
    height: calc(6rem + 2vh);
}

.details {
    padding: 0.7vh 0;
}

.links i {
    color: #83a79c;
}

.bi {
    font-size: max(calc(0.5rem + 0.5vw), calc(1em + 0.2vw));
}

.bi:hover {
    animation: fadeIn 0.125s;
    color: #fff;
}

.bi:focus {
    color: #fff;
}

@keyframes fadeIn {
    from {
        color: #83a79c;
    }
    to {
        color: #fff;
    }
}

@media screen and (max-width: 1220px) {
    .content {
        min-width: 360px;
    }
    .col {
        min-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .content {
        min-width: 100px;
    }
    .bi{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .input-field {
        font-size: 10px !important;
        height: calc(12rem + 40vw) !important;
    }
    .input-form {
        font-size: 10px !important;
    }
    input.form-control {
        font-size: 10px !important;
        max-width: 100%;
    }
    button[type="button"] {
        font-size: 10px !important;
        max-width: 100%;
    }
    textarea.form-control {
        resize: none !important;
        font-size: 10px !important;
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .input-field {
        font-size: 11px;
        height: calc(10rem + 40vw);
    }
    .input-form {
        font-size: 11px;
    }
    input[type="text"], input[type="email"] {
        font-size: 11px;
    }
    button[type="button"] {
        font-size: 11px;
    }
    textarea.form-control {
        resize: none;
        font-size: 11px;
    }
    .description {
        margin-top: 1.5vh;
    }
}

@media screen and (max-width: 450px) {
    .input-field {
        font-size: 10px !important;
        height: calc(13rem + 40vw) !important;
    }
    .input-form {
        font-size: 10px !important;
    }
    input.form-control {
        font-size: 10px !important;
        min-width: 80% !important;
        max-width: 100% !important; /* Modified: Set max-width to 80% */
    }
    button[type="button"] {
        font-size: 10px !important;
        max-width: 80% !important;
        min-width: 75% !important; /* Modified: Set max-width to 80% */
    }
    textarea.form-control {
        resize: none !important;
        font-size: 10px !important;
        max-width: 100% !important; /* Modified: Set max-width to 80% */
        min-width: 75% !important;
    }
}

@media screen and (max-width: 410px) {
    input.form-control {
        font-size: 10px !important;
        min-width: 75% !important;
        max-width: 100% !important; /* Modified: Set max-width to 80% */
    }
    button[type="button"] {
        font-size: 10px !important;
        max-width: 75% !important;
        min-width: 75% !important; /* Modified: Set max-width to 80% */
    }
    textarea.form-control {
        resize: none !important;
        font-size: 10px !important;
        max-width: 70% !important; /* Modified: Set max-width to 80% */
        min-width: 100% !important;
    }
}

@media screen and (max-width: 400px) {
    input.form-control {
        font-size: 10px !important;
        min-width: 1% !important;
        max-width: 75% !important; /* Modified: Set max-width to 80% */
    }
    button[type="button"] {
        font-size: 10px !important;
        max-width: 60% !important;
        min-width: 1% !important; /* Modified: Set max-width to 80% */
    }
    textarea.form-control {
        resize: none !important;
        font-size: 10px !important;
        max-width: 75% !important; /* Modified: Set max-width to 80% */
        min-width: 1% !important;
    }
}

@media screen and (max-width: 400px){
    .input-field{
        min-height: calc(15rem + 40vw);
    }
}

@media screen and (max-height: 800px){
    .input-field{
        min-height: calc(15rem + 40vw);
    }
}