h1{
    text-align: justify;
    border: 1px white solid;
    display: block;
    margin: 12vh 17vh 5.55vh 17vh;
    padding: 10px;
    font-size: 4rem;
    font-weight: 400;
}

#description{
    text-align: justify;
}
