h1{
    text-align: justify;
    display: block;
    margin: 12vh 17vh 5.55vh 17vh;
    padding: 10px;
    font-size: 4.25rem;
    font-weight: 400;
    font-family: "K2D", sans-serif;
}

#description{
    text-align: justify;
}

.content{
    display: flex;
    flex-grow: inherit;
    margin: 0 0 5.55vh 17vh;
    overflow-x: scroll;
    gap: 2em;
    scrollbar-width: thin;
    scrollbar-color: var(--white-theme-sub-text-color) transparent;
    height: 65vh;
    .item{
        height: 95%;
        text-decoration:solid;
    }
    .item:hover{
        cursor: pointer;
    }
}

::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}