.navbar_container {
    height: 100vh; /* Set navbar height to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    font-family: "K2D", sans-serif; /* Inherit font from the parent element */

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6vh;
        &__item {
            &__links {
                text-decoration: none;
                color: inherit;
                font-size: 1.65em;
                
                &__page {
                    margin-bottom: 30px;
                    .page_no {
                        text-decoration: none;
                    }
                    &:hover{
                        .page_no {
                            animation: smooth_change 0.2s ease-in-out;
                            color: #9A5E42;
                        }
                        

                        @keyframes smooth_change {
                            0%{
                                color: #ffffff;
                            }
                            100%{
                                color: #9A5E42;
                            }
                        }
                    }
                }
            }
        }
    }

    .name {
        margin-top: 14vh;
        font-size: 3em;
        color:#9A5E42;
    }

    .page{
        transition: opacity 0.3s ease;
        font-size: 2.5em;
        margin-bottom: 9.3rem;
    }
    .page_animation-enter {
        opacity: 1;
      }
      
      .page_animation-enter-active {
        opacity: 0;
        transition: opacity 400ms ease-in-out;
      }
    
      .page_animation-enter-done {
        opacity: 0;
      }

      .page_animation-exit {
        opacity: 1;
      }
      
      .page_animation-exit-active {
        opacity: 0; 
        transition: opacity 400ms ease-in-out;
      }
      .page_animation-exit-done {
        opacity: 0;
      }

      @keyframes opacity{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
      }
}

.col-auto.me-auto.align-items-center {
    margin-top: auto; /* Push "Niles Drake" to the bottom */
    font-size: 1.5em; /* Adjust font size */
    font-weight: bold; /* Example: bold font weight */
}

