h1{
    text-align: justify;
    display: block;
    margin: 12vh 17vh 4.5vh 17vh;
    padding: 10px;
    font-size: 4.25rem;
    font-weight: 400;
    font-family: "K2D", sans-serif;
}

#description{
    text-align: justify;
}

.links{
    padding-top: 3vh;
    margin-top: 3vh;
    display: flex;
}

.social{
    margin-left: 17vh;
    margin-bottom: 2vh;
}

.social-icons{
    text-align: left;
}

.social-icon{
    padding: 14px;
    font-size: 2.25em;
    a{
        color: #CFCFCF
    }
    i {
        color: #CFCFCF; /* Example color */
    }
    i:hover{
        color: var(--theme-for-nav);
        animation: smooth_change 0.2s ease-in-out;
    }
    @keyframes smooth_change {
        0%{
            color: #CFCFCF;
        }
        100%{
            color: var(--theme-for-nav);
        }
    }
}

.reach-out-heading{
    color: #CFCFCF;
    padding-left: 1vh;
    text-align: left;
    margin-bottom: 1em;
}