.discription {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.00938em;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

@media screen and (max-width: 1220px) {
    .content{
        min-width: 300px;
    }
    .col{
        min-width: 100%;
    }
    .row{
        max-width: 100%;
    }
}