@media screen and (max-width: 1220px) {
    .content{
        min-width: 300px;
    }
    .col{
        min-width: 100%;
    }
    .row{
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .content{
        min-width: 200px;
    }
    .col{
        min-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .content{
        min-width: 100px;
    }
    .col{
        min-width: 100%;
    }
    .mb-5 .p-3{
        padding: 0;
        margin: 0;
    }
    img{
        padding: 0;
        margin: 0;
    }
}

.discription {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.00938em;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

object-fit-cover border rounded border-image ratio ratio-4x3{
    padding: 0;
}