.card{
    background-color: transparent;
    color: #83a79c;
}

.card-text{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.modified{
    filter: brightness(0.8);
    object-fit: cover;
    object-position: center;
    height: calc(3vw + 8vh);
}