h1 {
    text-align: left;
    display: block;
    margin: 12vh 17vh 4.5vh 17vh;
    padding: 10px;
    font-size: 4.25rem;
    font-weight: 400;
    font-family: "K2D", sans-serif;
  }

#project-image {
    margin-top: 3vh;
    border: 0.25px solid #192134;
    width: 30vh;
    height: 20vh;;
    object-fit: cover;
}

.project-item{
    text-align: justify;
    padding-right: 5em;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
}

.layout{
    height: 65vh;
    overflow-y: auto;
    width: 35vw;
    scrollbar-color: var(--white-theme-sub-text-color) transparent;
    scrollbar-width: thin;
}

.main-body{
    margin: 0 17vh 4.5vh 17vh;
}