h1 {
    text-align: left;
    display: block;
    margin: 12vh 17vh 4.5vh 17vh;
    padding: 10px;
    font-size: 4.25rem;
    font-weight: 400;
    font-family: "K2D", sans-serif;
  }

#project-image {
    margin-top: 3vh;
    border: 0.25px solid #192134;
    width: 30vh;
    height: 20vh;;
    object-fit: cover;
}

.project-item{
    text-align: justify;
    padding-right: 5em;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
}

.layout{
    height: 65vh;
    overflow-y: auto;
    width: 35vw;
    scrollbar-color: var(--white-theme-sub-text-color) transparent;
    scrollbar-width: thin;
    .project-item{
        font-size: 1.2em;
        color: var(--white-theme-main-color);
        .title-color{
            color: var(--white-theme-nav-background-color);
        }
    }
}

.main-body{
    margin: 0 17vh 4.5vh 17vh;
}

.body-background{
    background-color: transparent;
    backdrop-filter: blur(30px);
}

.text-color{
    color: var(--white-theme-sub-text-color);
    font-size: min(1.3rem,1vw);
    text-decoration: solid;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-align: left;
}

.text-color:hover{
    color: var(--theme-for-nav);
    animation: smooth_change 0.12s ease-in;
}

.text-color:active{
    color: var(--theme-for-nav);
    animation: smooth_change 0.12s ease-in;
}


@keyframes smooth_change {
    0% {
        color: var(--white-theme-sub-text-color); // Initial color
    }
    100% {
        color: #9A5E42; // Final color
    }
}