h1 {
    text-align: left;
    display: block;
    margin: 12vh 17vh 4.5vh 17vh;
    padding: 10px;
    font-size: 4.25rem;
    font-weight: 400;
    font-family: "K2D", sans-serif;
  }

#project-image {
    margin-top: 3vh;
    border: 0.25px solid #192134;
    width: 30vh;
    height: 20vh;
    z-index: -1;
    object-fit: cover;
}

.section{
    margin: 0 18vh 4.5vh 17vh;
    display: flex;
    justify-content: flex-start;
    overflow-y: auto;
    padding: -5vw;
    gap: 40px;
    flex-wrap: wrap;
    height: 65vh;
    width: 80vh;
    align-items: flex-start;
}

.content{
    overflow-y: scroll;
    overflow: hidden;
}