@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --white-theme-background-color : #ffffff;
    --white-theme-main-color:  #CFCFCF;
    --white-theme-sub-text-color: #D4D0C0;
    --white-theme-nav-background-color: #D1CAB1;
    --theme-for-nav: #9A5E42;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #ffffff;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: #070813;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    position: relative; /* Position relative for pseudo-element */
    color: #ffffff;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/sunset-horizon-standing-alone-mountains-scenery-ai-art-4k-wallpaper-uhdpaper.com-715@1@l.jpg');
    background-size: cover;
    background-position: center;
    filter: saturate(50%) contrast(160%) brightness(55%) sepia(15%);
    color: #ffffff;
    opacity: 1; /* Adjust opacity to your preference */
    z-index: -1
}


#root{
    height: 100%;
}