.projects{
    height: 50vh;
}
.col-8{
    height: 50vh;
}

.col-3{
    height: 50vh;
}

.list-group-item, .list-group-item-action{
    background-color: transparent;
    color: #83a79c; 
    font-size: calc(0.4rem + 0.5vw);
}

.list-group-item:hover, .list-group-item-action:hover{
    background-color: #83a79c;
    color: #fff; 
}

.list-group-item:focus, .list-group-item-action:focus{
    background-color: #83a79c;
    color: #000000; 
}

.list-group-item:active, .list-group-item-action:active{
    background-color: #ffffff;
    color: #000000; 
}

@media screen and (max-width: 1280px) {
    .content{
        min-width: 360px;
    }
    .col{
        min-width: 100%;
    }
    .col-8{
        height: 50vh;
        width: 100%;
        margin-bottom: 10vh;
    }
    
    .col-3{
        height: max(calc(40vh + 10vw),40vh);
        width: 100%;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.2rem + 1vw);
    }
}

@media screen and (max-width: 800px) {
    .content{
        min-width: 200px;
    }
    .col{
        min-width: 100%;
    }
    .col-8{
        height: 50vh;
        width: 100%;
        margin-bottom: 10vh;
    }
    
    .col-3{
        height: max(calc(40vh + 10vw),40vh);
        width: 100%;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.2rem + 1.4vw);
    }
    
}

@media screen and (max-width: 500px) {
    .content{
        min-width: 100px;
    }
    .col-8{
        height: 50vh;
        width: 100%;
    }
    
    .col-3{
        height: max(calc(40vh + 20vw),40vh);
        width: 100%;
    }

    .px-3{
        padding-left: 10px !important;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.4rem + 1.5vw);
    }
    
}

@media screen and (max-width: 400px) {
    .content{
        min-width: 100px;
    }
    .col-8{
        height: 50vh;
        width: 100%;
    }
    
    .col-3{
        height: max(calc(45vh + 20vw),45vh);
        width: 100%;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.4rem + 1.5vw);
    }

    .list{
        min-width: 40%;
        max-width: 170%;
        padding-right: 10px;
    }
}

@media screen and (max-height: 800px ) and (max-width: 400px) {
    .col-8{
        height: 50vh;
        width: 100%;
        overflow-x:hidden;
    }

    .col-3{
        height: max(calc(60vh + 15vw),50vh);
        width: 100%;
        margin-bottom: 10vh;
        overflow-x: hidden;
    }
}

@media screen and (max-height: 800px ) and (max-width: 600px) {
    .col-8{
        height: 50vh;
        width: 100%;
        overflow-x:hidden;
    }

    .col-3{
        height: max(calc(60vh + 15vw),50vh);
        width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-height: 650px){
    .col-8{
        height: 50vh;
        width: 100%;
        overflow-x:hidden;
    }

    .col-3{
        height: max(calc(60vh + 15vw),50vh);
        width: 100%;
        margin-bottom: 10vh;
        overflow-x: hidden;
    }
}

@media screen and (max-height: 350px){
    .col-8{
        height: 50vh;
        width: 100%;
        overflow-x:hidden;
    }

    .col-3{
        height: max-content;
        width: 100%;
    }
}

@media screen and (max-height: 300px) {
    .col-3{
        height: max(calc(60vh + 20vw),60vh);
        width: 100%;
}
}


@media screen and (max-width: 300px){
    .col-8{
        height: 50vh;
        width: 100%;
        max-width: max-content;
    }
    .content .list{
        min-width: 100%;
        max-width: max-content;
        padding: 0;
    }    
    .col-3{
        height: max(calc(60vh + 40vw),60vh);
        width: 100%;
    }
}