.projects{
    height: 50vh;
}
.col-8{
    height: 50vh;
}

.col-3{
    height: 50vh;
}

.list-group-item, .list-group-item-action{
    background-color: transparent;
    color: #83a79c; 
    font-size: calc(0.4rem + 0.5vw);
}

.list-group-item:hover, .list-group-item-action:hover{
    background-color: #83a79c;
    color: #fff; 
}

.list-group-item:focus, .list-group-item-action:focus{
    background-color: #83a79c;
    color: #000000; 
}

@media screen and (max-width: 1280px) {
    .content{
        min-width: 360px;
    }
    .col{
        min-width: 100%;
    }
    .col-8{
        height: 50vh;
        width: 100%;
        margin-bottom: 10vh;
    }
    
    .col-3{
        height: max(calc(40vh + 10vw),40vh);
        width: 100%;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.2rem + 1vw);
    }
}

@media screen and (max-width: 800px) {
    .content{
        min-width: 200px;
    }
    .col{
        min-width: 100%;
    }
    .col-8{
        height: 50vh;
        width: 100%;
        margin-bottom: 10vh;
    }
    
    .col-3{
        height: max(calc(40vh + 10vw),40vh);
        width: 100%;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.2rem + 1.4vw);
    }
    
}

@media screen and (max-width: 500px) {
    .content{
        min-width: 100px;
    }
    .col-8{
        height: 50vh;
        width: 100%;
    }
    
    .col-3{
        height: max(calc(40vh + 20vw),40vh);
        width: 100%;
    }

    .px-3{
        padding-left: 10px !important;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.4rem + 1.5vw);
    }
    
}

@media screen and (max-width: 400px) {
    .content{
        min-width: 100px;
    }
    .col-8{
        height: 50vh;
        width: 100%;
    }
    
    .col-3{
        height: max(calc(45vh + 20vw),45vh);
        width: 100%;
    }

    .list-group-item, .list-group-item-action{ 
        font-size: calc(0.4rem + 1.5vw);
    }

    .list{
        width: 100%;
    }
}